/********** SITE WRAPPER FOR CENTERING PAGE *********/
@media screen and (min-width: 1024px) {
	#wrapper {
		margin: 0 auto;
		max-width: 1024px;
		background-color: white;
	}
}
@media screen and (min-width: 320px) and (max-width: 1023px){
	#wrapper {
		margin: 0 auto;
		max-width: 320px;
		background-color: white;
	}
}
/****************** HEADER STYLES ***************/
@media screen and (min-width: 1024px) {
	header {
		display: -ms-grid;
		display: grid;
		height: 50px;
		-ms-grid-columns: (1fr)[5];
		grid-template-columns: repeat(5,1fr);
		background: white;
		position: fixed;
		width:1024px;
		top:0;
		-webkit-box-shadow: 0px 5px 5px black;
		box-shadow: 0px 5px 5px black;
		z-index: 10;
	}
	.menu-nav {
		-ms-grid-column: 2;
	    grid-column-start: 2;
		grid-column-end: 6;
		position: absolute;
		padding-left: 40%;
	}
	.menu-nav ul {
		float:left;
		list-style: none;
	}
	.menu-nav li {
		display: inline;
		padding-right: 30px;
		width: 10px;
	}
	.menu-nav a {
		font-size: 1em;
    	font-family: 'Lato', sans-serif;
		color: black;
		text-decoration: none !important;
	}
	.menu-nav a:hover {
		border-bottom: 2px solid;
	}
	.menu-bttn {
		display: none;
	}
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
	header {
		display: -ms-grid;
		display: grid;
		height: 50px;
		-ms-grid-columns: (1fr)[5];
		    grid-template-columns: repeat(5,1fr);
		background: white;
		position: fixed;
		width:320px;
		top:0;
		-webkit-box-shadow: 0px 5px 5px black;
		        box-shadow: 0px 5px 5px black;
		z-index: 10;
	}
	.logo .right h1 {
		float: inherit;
		margin-left: 10%;
		font-family: 'Playfair Display SC', serif;
		color: black;
		font-size: 10px;
		width:100%;
	}
	.menu-nav {
		grid-column-start: 5;
		-ms-grid-column: 5;
	}
	.menu-bttn {
		background-color: gainsboro;
    	color: white;
    	font-size: 16px;
    	border: none;
    	width: 90px;
    	height: 45px;
    	float: right;
	}
	.menu-nav ul {
    	display: none;
    	background-color: #f9f9f9;
    	min-width: 90px;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    	z-index: 1;
    	list-style: none;
    	padding: 0;

    	float: right;
    	margin-top: 0px;
    	padding-top: 0px;
	}
	.menu-nav a {
		color: black;
    	padding: 12px 16px;
    	text-decoration: none;
    	display: block;
    	text-align: center;
	}
	.menu-nav:hover ul {
		display: flex;
		flex-direction: column;
	}
	.menu-nav li:hover {
		 background-color: #f1f1f1;
		 
	}
}
.logo {
	-ms-grid-column: 1;
	grid-column-start: 1;
	-ms-grid-column-span: 2;
	grid-column-end:4;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	float:left;
	height: inherit;
}
.logo .left {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: inherit;
}
.logo .left img {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: auto 30px;
	height: 70px;
}
.logo .left {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.logo .right {
	margin: auto 30px;
	height: inherit;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.logo .right h1 {
	width: 100%;
}
.logo img {
	float: inherit;
}
@media screen and (min-width: 1024px) {
	.logo h1 {
		float: inherit;
		margin-left: 10%;
		font-family: 'Playfair Display SC', serif;
		color: black;
	}
}

/******************** SEARCH PAGE CONTENT STYLES ****************/
@media screen and (min-width: 320px) and (max-width: 1023px) {
	.search-query h1 {
		font-size: 15px;
		display: flex;
		flex-direction: column;

	}
	.search-area {
		height: 90vh;
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 5fr 1fr;
	    grid-template-columns: 1fr 5fr 1fr;
		-ms-grid-rows: (1fr)[3];
	    grid-template-rows: repeat(3,1fr);

	}
	.search-area fieldset input, .search-area fieldset select, .search-bar {
		width: 100%;
	}
	.search-bar a{
		position: static;
		margin-left: 80px;
	}
	.search-bar {
		height: 40px;
		margin-top: 10px;
	}
	.search-query form {
		display: flex;
		flex-direction: column;
	}
	.search-query .search-icon input {
		border-radius: 0px 0px 20px 20px;
		width: 100%;
	}
	.search-query .search-bar input[type="search"] {
		border-radius: 20px 20px 0px 0px;
	}
}
@media screen and (min-width: 1024px) {
	.search-area {
		height: 80vh;
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 2fr 1fr;
	    grid-template-columns: 1fr 2fr 1fr;
		-ms-grid-rows: (1fr)[3];
	    grid-template-rows: repeat(3,1fr);
		padding-top: 100px;
	}
	.search-query .search-bar {
		width: 80%;
	}
	.search-query .search-icon input {
		border-radius: 0px 20px 20px 0px;
		width: 50px;
	}
	.search-query .search-bar input[type="search"] {
		border-radius: 20px 0px 0px 20px;
	}
	.search-bar a {
		margin-left: 30px;
		margin-top: 20px;
		position: absolute;
	}
}
.search-area {
	background-image: url("pexels-photo-134074.jpeg");
}
.search-query {
	-ms-grid-row: 2;
	    grid-row-start: 2;
	-ms-grid-column: 2;
	    grid-column-start: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.search-query .search-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border: none;
	height: 60px;
	margin: 0;
	padding: 0;
}
.search-query .search-bar input[type=search] {
	width: 100%;
}
.search-query .search-icon input[type=submit] {
	background-color: #a4dbd6;
	border: none;
	font-size: 24px;
	color: white;
}
.search-query .search-icon input[type=submit]:hover {
		background-color: #21b1a4;
		cursor: pointer;
	}
.search-query form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.search-query .search-icon {
	border: none;
    margin: 0;
    padding: 0;
}
.search-query .search-icon input {
	height: 60px;
}
.search-query .search-bar input[type=search] {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 60px;
	border: none;
	padding: 10px;
}
.search-query .star-search {
	border: none;
	margin: 0;
	padding: 0;
	height: 60px;
}
.search-query .star-search select{
	height: 60px;
	border: none;
    border-left-width: medium;
    border-left-style: none;
    border-left-color: currentcolor;
	padding: 5px;
	border-left: 1px solid gainsboro;
	font-family: Lato;
	color: grey;
	padding: 10px;
}
 .search-query .search-icon input[type=image]{
 	height: 60px;
 	width: 60px;
 	border: none;
 }
 .search-button {
 	background-image: url(Vector_search_icon.svg.png);
 }
/****************** SUBMISSION PAGE CONTENT STYLES **************/
@media screen and (min-width: 320px) and (max-width: 1023px){
	.input-form input {
		width: 200px;
	}
	.input-form .spam-email {
		background-color: white;
    	padding: 0;
    	margin-top: 30px;
    	height: 60px;
    	margin: 30px 60px;
	}
}
@media screen and (min-width: 1024px){
	.input-form input {
		width: 370px;		
	}
	.input-form .spam-email {
		background-color: white;
		padding: 0;
		margin: 25px 330px;
	}
}
.input-form input {
	height: 55px;
	border-color: #4c759e;
}
.bg-grey {
	background-color: #f8f8f8;
}
.input-form {
	min-height: 500px;
	padding-top: 100px;
	text-align: center;
	padding-bottom: 50px;
}
.input-form fieldset {
	border: none;
	padding: 7px;
	margin: 5px 0px 10px 0px;
	height: 46px;
}

.input-form .field-button{
	padding-top: 10px;
}
.input-form::-moz-placeholder {
    color: #a1a6b1;
}
.input-form h1 {
	color: black;
}
.input-form input[type=text]:focus,.input-form input[type=email]:focus,.input-form input[type=date]:focus, textarea:focus {
	-webkit-box-shadow: 0 0 5px rgb(21, 79, 7);
	box-shadow: 0 0 5px rgb(123, 213, 189);
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
}
.input-form input[type=text],.input-form input[type=email],.input-form input[type=date], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  font-family: Lato;
  color: grey;
  height: 47px;
}
.input-form input[type=button] {
	font-size: 12px;
}
.input-form input[type=button]:hover, .input-form input[type=submit]:hover {
	background-color: #21b1a4;
}
#uploaded-txt {
	width: 210px;
}
.input-form input[type=submit] {
	background-color: #a4dbd6;
	border: none;
	font-size: 24px;
	color: white;
}
.input-form .uploaded-txt {
	width: 15%;
	padding:0px;
}
.input-form .upload-button {
	width: 15%;
}
.input-form .spam-email {
	
}
.spam-email p {
	display: inline;
	vertical-align: middle;
	color: #767676;
	font-size: 12px;
	text-align: left;
}
.spam-email input {
	height: 10px;
	display: inline;
	}
 /****************** RESULTS PAGE CONTENT STYLES **************/
@media screen and (min-width: 320px) and (max-width: 1023px){
	.top-pad {
		display: block;
		padding-top: 40px;
	}
	.top-pad .search-bar {
		height: 50px;
		padding-top: 10px;
	}
	.top-pad .search-bar a {
		margin: 0px 50px;
		padding: 0px 20px;
   		padding-top: 0px;
		display: block;
		padding-top: 5px;
		height: 30px;
		position: static;
	}
	.search-bar .search-query {
		margin: 50px auto 0px auto;
		padding: 10px;
		background-color: gainsboro;
		display: block;
		width: 300px;
	}
	.search-bar .search-query select {
		width: 100%;
	}
	.map-result {
		display: block;
		padding-top: 20px;
		margin-top: 240px;
	}
	.map-result img {
		display: block;
		margin: auto auto;
		height: 320px;
		width: 320px;
		border: 0px;
	}
	.filter .mid-content {
		box-shadow: 0px 5px 2px gainsboro !important;
		margin: 0px !important;
		border-radius: 0px !important;
	}
	.table-style {
		width: 300px;
		margin: 10px;
	}
	.table-style td {
		font-size: 12px;
	}
	#hide {
		display: none;
	}
}
@media screen and (min-width: 1024px) {
	.top-pad {
		padding-top: 20px;
	}
	.search-bar .search-query{
		width: 500px;
	}
	.map-result img {
		height: 500px;
		width: 500px;
		border: 1px solid gainsboro;
		-webkit-box-shadow: 5px 5px 5px gainsboro;
		box-shadow: 5px 5px 5px gainsboro;
	}
	.table-style {
		margin: 0px 98px;
	}
	td {
		font-size: 12px;
	}
}
.filter {
	background: gainsboro;
	margin-top: 25px;
	display: block;
}
.filter .mid-content {
	margin: 0px 100px;
	background: #7bd5bd;
	text-align: center;
	border-radius: 50px 50px 00px 0px
}
.filter .mid-content h1 {
	font-weight: bold;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	color:white;
}
.filter .mid-content p {
	font-family: Playfair;
	color: white;
	padding: 0px;
	margin: 0px;
}

.main-content {
	position: relative;
	width: 100%;
	height: inherit;
	background-color: white;
}
.main-content .left-map-content {
	position: relative;
	width: 50%;
}
.main-content .right-map-content {
	position: fixed;
	background-color: black;
	height: 300px;
	width: 300px;
	float: right;
	bottom: 20vh;
	right: 15vw;
	max-width: 30vw;
}
.table-style {
	padding-top: 3px;
	font-family: Lato;
}
.table-header {
	background: gainsboro;
}
.table-header th {
	color: white;
}
.table-even {
	background: #def3ed;
}
.table-odd {
	background: #f0f9f6;
}
.map-result {
	display: block;
	padding-top: 20px;
}
.map-result img {
	display: block;
	margin: auto auto;
}
.map-result h2 {
	display: block;
	text-align: center;
}
.top-pad .search-bar {
	background-color: gainsboro;
	display: block;
}
.search-bar .search-query {
	margin: 50px auto 0px auto;
	padding: 10px;
	background-color: gainsboro;
}
.search-bar a {
	font-size: 20px;
	font-family: Lato;
	background-color: #7bd5bd;
	color: white;
	border-radius: 25px;
	padding: 10px;
	text-decoration: none;
	
	width: 180px;
	
}
.search-bar a:hover {
	background-color: #4bbd9e;
}
/****************** OBJECT and USER REGISTRATION PAGE CONTENT STYLES **************/
@media screen and (min-width: 320px) and (max-width: 1023px) {
	.equipment-detail {
		width: 280px;
	}
	.map-space {
		padding-top: 60px;
    	max-width: inherit;
    	display: flex;
    	flex-direction: column;
	}
	.equipment-detail {
		order: 2;
		border: 1px solid gainsboro;
    	margin: 5px 20px;
	}
	.equipment-detail img {
		display: none;
	}
	.equipment-detail h2 {
		display: none;
		width: 300px;
    	border: 1px solid gainsboro;
    	margin: 0px 10px;
	}
	.map {
		order: 1;
		margin: 10px;
		width: 300px;
		height: 300px;
	}
	.map h2 {
		display: none;
	}
	.map img {
		width: 300px;
		height: 300px;
	}
	.object-detail p {
		margin: 10px;
	}
	.review {
		display: flex;
		flex-direction: column;
	}
	.right-content {
		margin-left: 10px;
	}
	.right-content p {
		font-size: 10px;
	}
	#uploaded-txt {
		width: 100px !important;
	}
	.upload-button {
		width: 90px !important;
	}
	.input-form .coordinate {
		width: 95px;
	}
}
@media screen and (min-width: 1024px) {
	.map-space {
		padding-top: 100px;
		height: 600px;
		max-width: inherit;
		display: block;
		padding-bottom: 40px;
	}
	.equipment-container {
		background: gainsboro;
		max-width: inherit;
		height: 100%;
		display: block;
		margin: 0px 50px;
		border-radius: 25px;
	}
	.equipment-container .search-bar a {
		margin-left: 30px !important;
		padding: 4px !important;
		margin-top: 32px !important;
		width: 290px !important;
		margin-left: 40px !important;
		border-radius: 0px !important;
	}
	.map img {
		height:500px;
		width:500px;
		margin: 0 auto;
	}
	.equipment-detail  {
		float: left;
    	width: 300px;
    	margin-left: 40px;
    	display: block;
    	margin-top: 115px;
		background: #fff;
		border-radius: 25px 0px 0px 25px;
	}
	.object-detail p {
		margin: 20px;
	}
	.review {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 2fr;
		grid-template-columns: 1fr 2fr;
	}
	.map {
		float: right;
		margin-right: 50px;
		border: 1px solid gainsboro;
		margin-top: 30px;
	}
	.map-space h2 {
		border-radius: 0px 0px 0px 0px;
		background-color: #7bd5bd !important;
		color: #fff !important;
	}
	#uploaded-txt {
		width: 200px;
	}
	.upload-button {
		width: 15%;
	}
	.input-form .coordinate {
		width: 183px;
	}
}

.map {
	float: right;
	margin-right: 20px;
	border: 1px solid gainsboro;
}
.map-space h2 {
	text-align: right;
	margin: 5px;
	background-color: #f5f5f5;
	margin: 0;
	padding: 4px;
    padding-right: 4px;
	padding-right: 20px;
	color: #595959;
	font-family: Lato;
	font-size: 20px;
}
.review {
	max-width: 100%;
	border-bottom: 2px solid gainsboro;
	margin-left: 20px;
	margin-right: 20px;
	-webkit-box-shadow: 0px 3px 3px gainsboro;
	box-shadow: 0px 3px 3px gainsboro;
	margin-top: 0;
	margin-bottom: 20px;
	border: 1px solid gainsboro;
}
.review .right-content {
	-ms-grid-column: 2;
	    grid-column-start: 2;
	grid-column-end: 3;
}
.right-content h2 {
	font-family: Lato;
	border-bottom: 1px solid gainsboro;
	margin-right: 40px;
	font-size: 20px;
}
.review .right-content p {
	text-align: justify;
	text-justify: inter-word;
	margin-right: 40px;
}
.left-content {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 1fr 3fr;
	grid-template-rows: 1fr 3fr;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}
.left-content h2 {
	-ms-grid-column: 1;
	grid-column-start: 1;
	grid-column-end: 3;
	-ms-grid-row: 1;
	grid-row-start: 1;
	font-family: Lato;
	font-size: 20px;
	margin-left: 10px;
	margin-bottom: 33px;
	border-bottom: 1px solid gainsboro;
	margin-right: 20px;
}
.left-content .user {
	-ms-grid-column: 1;
	    grid-column-start: 1;
	-ms-grid-row: 2;
	    grid-row-start: 2;
	margin-left: 5px;
}
.left-content .user-info {
	-ms-grid-row: 2;
	    grid-row-start: 2;
    margin-right: 20px;
}

/***************** STYLES FOR FOOTER *****************/
@media screen and (min-width: 1024px) {
	footer {
		background-color: #183638;
		height: 6vh;
		bottom:0;
		position: block;
		width: 1024px;
	}
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
	footer {
		background-color: #183638;
		height: 6vh;
		bottom:0;
		position: block;
		width: 320px;
	}
}
.footer-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row;
	        flex-flow: row;
	margin: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #183638;
}
.footer-grid ul {
	list-style: none; 
}
.footer-grid li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}
.footer-grid a {
    font-family: 'Lato', sans-serif;
	color:white;
}

/******************* DEFAULTS FOR RAW TAGS*************** */
h1 {
	color: white;
    font-family: 'Lato', sans-serif;
}
p {
    font-family: 'Lato', sans-serif;
}
body {
	background-color: #7bd5bd;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
input[type=submit],input[type=button] {
	background-color: #a4dbd6;
	border: none;
	font-size: 24px;
	color: white;
}
/******************** UNIVERSAL TAGS **********************/
.italic {
	font-style: italic;
}
.center {
	text-align: center;
}
.margin-20 p {
	margin: 20px;
}
